/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  background: #ffffff;
}

header {
  background: #fafafa;
  border-bottom: .1em solid #cccccc;

}

.container {
  display: flex;
  justify-content: flex-start;
  border: 10px solid goldenrod;
  height: 100vh;
  flex-wrap: wrap;
}

.card {
  /* display: flex; */
  justify-content: flex-start;

  flex: 1;
  
}

.postimage {
  width: 50%;
  height: 50%;
}

